{{ define "navbar" -}}
<div class="navbar text-primary-content">
    <div class="flex-1">
        <a tabindex="0" role="button" class="btn btn-primary" href="/dashboard/home">
            <p>RFID Inventory Tracker</p>
        </a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <a class="btn btn-primary nav-link active fs-2 mx-3" aria-current="page" href="/dashboard/home">Home</a>
            </li>
        </ul>
    </div>
</div>
{{end}}
